*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
.container{
    max-width: 992px;
    font-size: 2rem;
    margin: 0 auto;
}
.nav{    
    color: green;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 200px 1fr;
}
.logo{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    

}
.nav__link{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}
.nav__links{
    width: max-content;
}
.about{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(391px, 1fr));
    gap: .5em;
    flex-wrap: wrap;
    padding: 30px 0;
}
.about__container{
    text-align: center;
}
.about__title{
    margin-bottom: 10px;
}
.about__paragraph{
    max-width: 90%;
    margin: 0 auto;
}
.about__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat{
    margin: 0 auto;
}
@media (max-width: 777px){
    .about__img{
        width: 350px;
        margin: 0 auto;
        object-fit: cover;
    }
}

